:root{
    /* colors */
    --clr-orange: 23, 100%, 63%;
    --clr-green: 80, 60%, 35%;
    --clr-brown: 0, 24%, 24%;
    --clr-white: 0, 0%, 100%;
    --clr-beige: 60, 56%, 91%;
    --clr-neutral: 0, 0%, 69%;

    /* font-sizes */
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.125rem;
    --fs-400: 1rem;
    --fs-300: 0.875rem;
    
    /* font-families */
    --ff-serif-text: 'Montserrat', sans-serif;
    --ff-serif-heading: 'Playfair Display', serif;
}


/* Box sizing*/

*,
*::before,
*::after{
    box-sizing: border-box;
}

/* Reset margins */

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
    margin: 0;
}

/* reset font weight */
h1,
h2,
h3,
h4,
h5,
h6,
p{
    font-weight: 300;
}

body{ 
  font-size: var(--fs-400);
  font-family: var(--ff-serif-text);
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-brown));
  line-height: 1.5;
  min-height: 100vh;
}

/* optimise images */

img,
picture{
  max-width: 100%;
}

.flex{
    display: flex;
    gap: var(--gap, 1em); 
}


/* colors */
.bg-brown{background-color: hsl(var(--clr-brown));}
.bg-beige{background-color: hsl(var(--clr-beige));}
.bg-white{background-color: hsl(var(--clr-white));}
.bg-orange{background-color: hsl(var(--clr-orange));}



.text-brown{color: hsl(var(--clr-brown));}
.text-beige{color: hsl(var(--clr-beige));}
.text-green{color: hsl(var(--clr-green));}
.text-orange{color: hsl(var(--clr-orange));}

/* typography */

.ff-serif-heading { font-family: var(--ff-serif-heading); } 
.ff-serif-text{ font-family: var(--ff-serif-text); }



.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }

.uppercase{ text-transform:uppercase; }

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.fs-700,
.fs-600 {
    line-height: 1.1;
}

.container{
    padding-inline: 2.5em;
    margin: auto;
    max-width: 90rem;
    position: relative;
    
}



/* Modal Background */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsl(var(--clr-brown), 0.5); /* Semi-transparent overlay */
  display: none;
  z-index: 9999;
}

/* Modal Content */
.modal-header{display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.modal-content {
  padding: 30px;
  width: 100%;
  max-width: 500px;
  position: relative;
  margin: 10% auto;
  animation: fadeIn 0.3s ease-in-out;
}

/* Close Button */
.close-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(var(--clr-brown));
}

/* Form Styling */
label {
  display: block;
  margin-bottom: 6px;
  font-weight: 400;
  color: hsl(var(--clr-brown));
}

label span {
  color: red;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid hsl(var(--clr-neutral));
  font-size: var(--fs-300);
  color: hsl(var(--clr-brown));
}

input::placeholder {
  color: hsl(var(--clr-neutral));
}

input:focus, select:focus {
  outline: none;
  border-color: hsl(var(--clr-green));
  box-shadow: 0 0 3px hsl(var(--clr-green), 0.5);
}

.submit-btn {
  margin: 0 auto;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}



/* modal Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}




.header{
    background-color: hsl(var(--clr-brown));
    box-shadow: 0 2px 7px hsl(var(--clr-orange), 0.2);
    padding: 0.5rem 0;
    backdrop-filter: blur(15px);
    position: fixed;
    top: 0;
    width: 100%;
    transition: background-color 0.3s ease;
    z-index: 1000;

}
/* .header.scrolled{
  background-color: hsl(var(--clr-brown));
  box-shadow: 0 2px 5px hsl(var(--clr-orange), 0.3);
} */

.nav-toggle{
  visibility: hidden;
}

.row{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: flex-start;
    align-items: center;
}

.logo{

    display: inline-block;
    text-decoration: none;
    height: auto;
    

}
.logo img{
  max-width: none;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
    height: auto;

}
.nav ul{
    display: flex;
    justify-content: center;
    margin-block: 0;
    padding: 0;
}
.nav ul li{
    cursor: pointer;
    align-self: center;
    margin: 0.5rem 0 0.5rem 2.5rem;
    padding-right: 0;
    list-style: none;

}

.page-link{
    font-weight: 200;
    display: block;
    text-decoration: none;
    color: hsl(var(--clr-beige));
    transition: color 0.3s ease;
}
.page-link:hover,
.page-link:focus,
.page-link:active{
    color: hsl(var(--clr-orange));
}
.cta-link-primary{
    cursor: pointer;
    display: flex;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    background-color: hsl(var(--clr-orange));
    color: hsl(var(--clr-brown)); 

    transition: background 0.5s ease;
}
.cta-link-secondary{
    display: flex;
    padding: 0.5rem 1.5rem;
    color: hsl(var(--clr-beige));
    border: solid 1px hsl(var(--clr-beige)); 
    transition: background 0.5s ease;
}

.cta-link-primary:hover,
.cta-link-primary:focus,
.cta-link-primary:active{
    border: none;
    background-color: hsl(var(--clr-orange), 0.7);
    color: hsl(var(--clr-brown));
}
.cta-link-secondary:hover,
.cta-link-secondary:focus,
.cta-link-secondary:active{
    color: hsl(var(--clr-orange));
    border: solid 1px hsl(var(--clr-orange));
}

.hero-section{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


.hero-video{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.overlay{
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
   
    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
    z-index: 3;
    text-align: left;
    padding: 20px;
}

.content h1 {

    margin-bottom: 20px;
    font-weight: 700;

}

.content p {
  
  margin-bottom: 30px;

}

/* Buttons */
.buttons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.buttons a{
  text-decoration: none;
}


.btn-secondary:hover {
  background-color: #fff;
  color: #000;
}


.sections{
  padding-block: 5rem;
  flex-direction: column;
  align-items: center;
  --gap:2.5rem;
}
.feature-container{
  width: 100%;
  align-items: flex-start;

}
.feature{
  width: 40%;
  
  padding: 2rem 0;
  flex-direction: column;
  --gap:1.5rem;
  align-items: center;
  text-align: center;

}
.menu{
  justify-content: space-between;
  align-items: center;
}
.menu-items{
  flex-direction: column;
  align-items: center;
  color: hsl(var(--clr-beige));
  text-align: center;
}

.review-container{
  width: 100%;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;

}
.review-card{
  flex: 0 0 500px; /* Adjust width as needed */
  padding: 1rem;
  scroll-snap-align: start;
  
}
.user{
  gap: 0.5rem;

}
.dots{
  gap: 0.5rem;
}
.dot{
  width: 10px;
  height: 10px;
  background-color: hsl(var(--clr-neutral));
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;

}
.dot.active {
  background-color: hsl(var(--clr-orange));
}

.footer{
  padding-block: 5rem;
  
}
.footer-wrapper{
  gap: 1rem;
  flex-direction: column;
  align-content: center;
}
.footer-content{
  padding-bottom: 1rem;
  border-bottom: solid 0.5px hsl(var(--clr-beige), 0.5);
}

.phone{
  gap: 0.5rem;
}

.copyright{
  justify-content: center;
}
.other-pages-hero{
  padding-block: 2.5rem;
  margin-top: 65px;
  height: auto;
}

.other-pages-content{
  align-items: center;
}
.image-header{
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.history{
  gap: 0;
  justify-content: center;
  align-items: center;
  padding-inline: 4rem
}
.history img{
  padding: 2rem;
  width: 50%;
  height: 400px;
}

.history-items{
  padding: 2rem;
  gap: 0.5rem;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  border-left: solid 1px hsl(var(--clr-brown));

}
.history-items-middle{
  padding: 2rem;
  gap: 0.5rem;
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
  border-right: solid 1px hsl(var(--clr-brown));

}
.history-items-middle p{
  text-align: right;
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
}

@media (max-width: 1000px) {
 
  .nav-toggle{
    visibility: visible;
    cursor: pointer;
    border: 0;
    width: 3em;
    padding: 0;
    background: none;    
    position: absolute;
    right: 2.5rem;   
  }
  .hamburger {
      padding-top: 0.8rem;
      margin: 0 auto;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }
    
    .hamburger span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: hsl(var(--clr-white));
      margin: 4px;
      transition: transform 0.3s ease;
    }

    /* Close hamburger styles */
    .hamburger.close span:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 6px);
    }

    .hamburger.close span:nth-child(2) {
      opacity: 0;
    }

    .hamburger.close span:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -6px);
    }

    .nav{
      visibility: hidden;
      height: 0;
      position: absolute;
      justify-content: flex-start;
      
    }
  
  .nav ul{
      flex-direction: column;
      padding: 1.5em 4.5em 2.5em;
      text-align: center;
      
    }
  .nav ul li{
      cursor: pointer;
      list-style: none;
      padding: 0.5em;
      margin: 1rem;

    }
  .nav--visible {
    background-color: hsl(var(--clr-brown), 0.99);
    backdrop-filter: blur(93px);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    visibility: visible;
    position: absolute;
    z-index: 4000;
    right: 0;
    top: 55px;
    left: 0;
    bottom: 0;
  
  }
  .hero-section{
    
    height: 80vh;
    
    }
  .content {
    
    align-items: center;
    
    text-align: center;
    
    }

  .content h1 {

    margin-bottom: 20px;
    font-weight: 700;

  }
  .feature-container{
    flex-direction: column;
    align-items: center;

  } 
 .feature {
  width: 100%;
  }
  .menu {
    flex-direction: column;
  }
  .sections h2{
    text-align: center;
  }
  
  .review-card{
    flex: 0 0 300px; /* Adjust width as needed */
    padding: 1rem;
    scroll-snap-align: start;
    
  }
  .other-pages-hero{
    padding-block: 0;
    margin-top: 65px;
    height: auto;
  }
  .other-pages-content h1{
    font-size: var(--fs-600);
  }
  .footer-content{
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-content nav{
    visibility: visible;
    flex-direction: column;
    position: relative;
    height: auto;

  }
  .footer-content nav ul{
    margin: 0;
    padding: 0;
  }
  .footer-content nav ul li{
    margin: 0;
    padding: 1rem 0;
  }
  .footer-content nav ul .row{
    flex-direction: column;
  }
  .footer-content nav ul .row .phone{
    flex-direction: row;
  }

 

}

